* {
  margin: 0;
  padding: 0;
}

.container {
  gap: 4px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  text-align: left;
}

.menu > ul {
  height: 100%;
  align-items: center;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

.menu ul,
.menu li {
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
}

.sidebar {
  background-color: #C50208;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr;
  gap: 50px;
}

.sidebar div {
  display: grid;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: nav;
}

.nav > ul {
  display: grid;
  height: 100%;
  align-items: center;
  grid-template: 1fr / 1fr 1fr 1fr;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, 200px);
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}